h1{

  margin-top: auto;

  text-align: center;

  color:black;

  background-color: lawngreen;

 

}



.dropdown label{

  margin-left: 150px;

  font-weight:bold;

}

.dropdown select{

  width: 200px;;

  height:25px;

  margin-left:22px;

}

#abc{

  margin-left: 46%;

  margin-top: 0%;

}

#xyz{

  margin-left: 46%;

  margin-top: 2%;

}

#xzz{

  margin-top:0%;

  margin-left: 46%;

}